{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main>
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4"></h1>   
        <h1 class="my-4"></h1>
        <div class="card">
            <div class="card-body p-5 bg-dark text-light">
            <div class="display-4">{% trans "Task Manager" %}</div>
            <p class="lead">{% trans "Your path to organized productivity" %}</p>
            <hr>
            <a class="btn btn-primary btn-lg" href="https://github.com/Kem0111/python-project-52" target="_blank">{% trans "Learn more" %}</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}