{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main>
    <div class="container">
        <h2 class="text-center mt-3"  style="min-height: 10vh;">{% trans "Users" %}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>{% trans "ID" %}</td>
                    <td>{% trans "Username" %}</td>
                    <td>{% trans "Full name" %}</td>
                    <td>{% trans "Created at" %}</td>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td><span>{{ user.first_name }}</span> <span>{{ user.last_name }}</span></td>
                    <td>{{ user.date_joined }}</td></td>
                    <td>
                        <p><a href="{% url 'update_user' user.id %}">{% trans "Update" %}</a></p>
                        <p><a href="{% url 'delete_user' user.id%}">{% trans "Delete"%}</a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}