{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main>
    <div class="container">
        <h2 class="text-center mt-3"  style="min-height: 10vh;">{% trans "Tasks" %}</h2>
        <p><a href="{% url 'create_task' %}" class="btn btn-success btn-sm">{% trans "Create" %}</a></p>
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr class="font-weight-bold">
                    <td>{% trans "ID" %}</td>
                    <td>{% trans "name" %}</td>
                    <td>{% trans "status" %}</td>
                    <td>{% trans "author" %}</td>
                    <td>{% trans "executor" %}</td>
                    <td>{% trans "Created at" %}</td>
                </tr>
            </thead>
            <tbody>
                {% for task in object_list %}
                <tr>
                    <td class="align-middle py-3">{{ task.pk }}</td>
                    <td class="align-middle py-3"><a href="{% url 'task_view' task.pk %}">{{ task.name }}</a></td>
                    <td class="align-middle py-3">{{ task.status }}</td>
                    <td class="align-middle py-3">{{ task.author }}</td>
                    <td class="align-middle py-3">
                    {% if task.executor %}
                        {{ task.executor }}
                    {% else %}
                    {% endif %}
                    </td>
                    <td class="align-middle py-3">{{ task.created_at }}</td>
                    <td class="align-middle py-3">
                        <p><a href="{% url 'update_task' task.pk %}" class="btn btn-success btn-sm">{% trans "Update" %}</a></p>
                        <p><a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm">{% trans "Delete"%}</a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}